<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/ionic.css">

    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>

    <!-- Needed for Cordova/PhoneGap -->
    <!-- <script type="text/javascript" src="cordova.js"></script> -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/Projects.js"></script>
    <script src="scripts/controllers/main.js"></script>
  </head>
  <body ng-app="todo" ng-controller="MainCtrl">
    <side-menus>
      <!-- Center content -->
      <pane side-menu-content>
        <header class="bar bar-header bar-dark">
          <button class="button button-icon" ng-click="toggleProjects()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">{{activeProject.title}}</h1>
          <!-- New Task button-->
          <button class="button button-clear" ng-click="newTask()">
            New
          </button>
        </header>
        <content has-header="true" scroll="false">
          <list>
            <item ng-repeat="task in activeProject.tasks"  ng-click="selectTask(task)">
              {{task.title}}
            </item>
          </list>
        </content>
      </pane>

      <!-- Left menu -->
      <side-menu side="left">
        <header class="bar bar-header bar-dark">
          <h1 class="title">Projects</h1>
          <button class="button button-icon" ng-click="newProject()">
            <i class="ion ion-plus"></i>
          </button>
        </header>
        <content has-header="true" scroll="false">
          <list>
            <item class="active" ng-repeat="project in projects" ng-click="selectProject(project)"> 
              <!-- ng-class="{active: activeProject == project}" -->
              {{project.title}}
            </item>
          </list>
        </content>
      </side-menu> 
    </side-menus>
  </body>
</html>