<nav-page id="app-page" ng-controller="MainCtrl" title="activeProject.title" left-buttons="leftButtons">
    <content has-header="true" scroll="false">
      <list>
        <item ng-repeat="task in activeProject.tasks" href="#/post/{{task}}">
          {{task.title}}
        </item>
      </list>
    </content>
</nav-page>

<!--
  <header class="bar bar-header bar-dark">
    <button class="button button-icon">
      <i class="icon ion-arrow-left-c"  href="#/home"></i>
    </button>
    <h1 class="title">{{activeProject.title}}</h1>
    <button class="button button-clear" ng-click="newTask()">
      New
    </button>
  </header>

-->