<nav-page title="NewPost" right-buttons="rightButtons">
  <content has-header="true" padding="false">
	  <form ng-submit="createPost(post)">
	    <div class="list">
	      <label class="item item-input">
	        <input type="text" placeholder="Post title" ng-model="post.title"/>
	      </label>
	      <label class="item item-input">
	      	<!-- http://jsfiddle.net/EL2KL/96/ jsfiddle for size box on full screen -->
	      	<textarea type="text" placeholder="Post content" ng-model="post.content"></textarea>
	      </label>
	    </div>
	  </form>
  </content>
</nav-page>