<div class="modal">
	<!-- Modal header bar -->
	<header class="bar bar-header bar-secondary">
	  <h1 class="title">New Post</h1>
	  <button class="button button-clear button-positive" ng-click="closeNewPost()">Cancel</button>
	</header>

	<!-- Modal content area -->
	<content has-header="true" >

	  <form ng-submit="createPost(post)">
	    <div class="list">
	      <label class="item item-input">
	        <input type="text" placeholder="Post title" ng-model="post.title"/>
	      </label>
	      <label class="item item-input">
	      	<textarea type="text" placeholder="Post content V2" ng-model="post.content"></textarea>
	      </label>
	    </div>
	    <div class="padding">
	      <button type="submit" class="button button-block button-positive">Save Post</button>
	    </div>
	  </form>
	</content>
</div>
